<ion-content class="login-content" fullscreen>
      <div class="login-wrapper">
        <div class="login-container">
          <ion-button
            fill="clear"
            class="back-button"
            (click)="goBack()"
          >
            <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
          </ion-button>

          <img
            src="/assets/icon/ONPE_icons.png"
            alt="ONPE Logo"
            class="login-logo"
          />

          <h1 class="login-title">Bienvenido, Miembro de Mesa</h1>
          <p class="login-subtitle">Ingresa tu DNI para continuar</p>

          <form (ngSubmit)="login()" #form="ngForm">
            
            <ion-item class="login-item" lines="none">
              <ion-icon
                slot="start"
                name="id-card-outline"
                class="login-icon"
              ></ion-icon>
              <ion-input
                type="tel"
                [(ngModel)]="dni"
                name="dni"
                placeholder="Ingresa tu DNI"
                required
                maxlength="8"
              ></ion-input>
            </ion-item>

            <ion-button
              expand="block"
              type="submit"
              class="login-button"
              [disabled]="loading || !form.valid"
            >
              <span *ngIf="!loading">Ingresar</span>
              <ion-spinner *ngIf="loading" name="crescent"></ion-spinner>
            </ion-button>
          </form>

          </div>
      </div>
    </ion-content>