<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Partidos Políticos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="parties-content">
  <div *ngIf="loading" class="loading-container">
    <ion-spinner name="crescent" color="primary"></ion-spinner>
    <p>Cargando partidos...</p>
  </div>

  <div class="parties-grid" *ngIf="!loading">
    <ion-card *ngFor="let party of parties" class="party-card">
      <ion-card-content class="party-card-content">
        <div class="logo-wrapper">
          <img
            *ngIf="party.logoUrl"
            [src]="party.logoUrl"
            alt="{{ party.acronym }}"
            class="party-logo"
            (error)="onImageError($event, party)"
          />
        </div>
        <h3 class="party-name">{{ party.name }}</h3>
        <span class="party-acronym">({{ party.acronym }})</span>

        <div class="divider"></div>

        <p class="description">
          {{ party.description || 'Descripción no disponible' }}
        </p>

        <div class="party-links">
          <ion-button
            *ngIf="party.websiteUrl"
            fill="outline"
            size="small"
            href="{{ party.websiteUrl }}"
            target="_blank"
          >
            <ion-icon name="link-outline" slot="start"></ion-icon>
            Sitio Web
          </ion-button>
          <ion-button
            *ngIf="party.planOfGovernmentUrl"
            fill="outline"
            size="small"
            href="{{ party.planOfGovernmentUrl }}"
            target="_blank"
          >
            <ion-icon name="document-text-outline" slot="start"></ion-icon>
            Plan de Gobierno
          </ion-button>
        </div>

        <ion-button
          class="details-button"
          expand="full"
          fill="solid"
          color="primary"
          (click)="viewDetails(party)"
        >
          Ver Detalles
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
