<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Partidos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="parties-content">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Partidos</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="parties-grid">
    <ion-card *ngFor="let party of parties" class="party-card">
      <ion-card-header [style.background]="party.color">
        <div class="header-content">
          <img
            *ngIf="party.logo"
            [src]="party.logo"
            alt="{{ party.acronym }}"
            class="party-logo"
          />
          <div class="header-text">
            <ion-card-title>
              {{ party.name }}
              <span class="acronym">({{ party.acronym }})</span>
            </ion-card-title>
            <p class="members">
              {{ party.members }} miembros • {{ party.candidates }} candidatos
            </p>
          </div>
        </div>
      </ion-card-header>
      <ion-card-content>
        <p class="description">{{ party.description }}</p>
        <ion-button
          expand="full"
          fill="solid"
          color="primary"
          (click)="viewDetails(party)"
        >
          Ver Detalles
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
