/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

// /**
//  * Ionic Dark Mode
//  * -----------------------------------------------------
//  * For more info, please see:
//  * https://ionicframework.com/docs/theming/dark-mode
//  */

// /* @import "@ionic/angular/css/palettes/dark.always.css"; */
// /* @import "@ionic/angular/css/palettes/dark.class.css"; */
// @import '@ionic/angular/css/palettes/dark.system.css';


:root {
  /* Colores principales */
  --onpe-primary: #2e6bc7; /* rhino-700 */
  --onpe-primary-light: #4c9be5; /* rhino-500 */
  --onpe-primary-dark: #22406e; /* rhino-900 */

  /* Colores secundarios */
  --onpe-secondary: #6eb7ec; /* rhino-400 */
  --onpe-secondary-light: #9cd2f4; /* rhino-300 */
  --onpe-secondary-dark: #2b57a2; /* rhino-800 */

  /* Énfasis y estados */
  --onpe-accent: #3780d9; /* rhino-600 */
  --onpe-info: #c5e3f8; /* rhino-200 */
  --onpe-highlight: #f0f8fe; /* rhino-50 */

  /* Fondo y bordes */
  --onpe-background: #f0f8fe; /* rhino-50 */
  --onpe-surface: #deeefb; /* rhino-100 */
  --onpe-border: #c5e3f8; /* rhino-200 */

  /* Texto */
  --onpe-text: #000000; /* rhino-950 */
  --onpe-text-light: #ffffff; /* rhino-800 */
}

ion-tabs ion-content {
  --padding-bottom: 70px;
}
